{
  "extends": [
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "max-nesting-depth": 5,
    "unit-disallowed-list": [
      "px"
    ],
    "declaration-property-unit-disallowed-list": [
      {
        "line-height": [
          "px",
          "rem",
          "em"
        ]
      }
    ],
    "order/order": [
      "declarations",
      "rules"
    ],
    "color-hex-case": "lower"
  }
}

