@import "../../globals";

.main-section {
  background: $color-bg-light;
  width: 100%;
  border-radius: $border-radius;
  transition: height $transition-speed linear,
    max-height $transition-speed linear;
  overflow: hidden;

  &-toggle {
    border-radius: 0;
    color: $color-accent-1;
    font-size: $font-size-ml;
    font-weight: $font-weight-bold;
    margin: 0;
    padding: $gap-mid;
    width: 100%;
    overflow: hidden;

    @include hover-focus-active {
      color: $color-accent-2;
      box-shadow: inset -0.1rem -0.1rem 0 0.1rem $color-accent-1;
    }
  }

  &-content {
    display: none;
    padding: $gap-mid;
  }

  &.active {
    .main-section {
      &-toggle {
        cursor: default;

        @include hover-focus-active {
          box-shadow: none;
          color: $color-accent-1;
        }
      }

      &-content {
        display: block;
      }
    }
  }

  & + .main-section {
    margin-top: $gap-mid;
  }
}
