.app {
  border: var(--border-width) solid var(--color-text-main);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-standard);
  height: 100%;
  margin: 0 auto;
  max-width: var(--container-standard);
  width: 100%;
}
