.app-footer {
  border-top: var(--border-width) solid var(--color-text-main);
  margin: var(--gap-standard) 0 0;
  padding: calc(var(--gap-small) * 2) var(--gap-standard);
  position: relative;
}

.app-footer::before {
  border-bottom: var(--border-width-bold) solid var(--color-accent-3);
  top: calc(var(--border-width-bold) * -1);
  content: "";
  right: 0;
  position: absolute;
  width: 33%;
  z-index: 0;
}

.app-footer-copy {
  font-size: var(--font-size-small);
  text-align: center;
}

.app-footer-copy::before {
  content: "∿";
  color: var(--color-accent-2);
  font-size: var(--font-size-h1);
  position: absolute;
  top: -2.25rem;
  left: 10%;
  transform: rotateZ(2deg);
  text-shadow:
    1.25rem 0 0 var(--color-accent-2),
    2.5rem 0 0 var(--color-accent-2),
    3.75rem 0 0 var(--color-accent-2),
    5rem 0 0 var(--color-accent-2);
}

.app-footer::after {
  content: "xox";
  color: var(--color-accent-1);
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  position: absolute;
  top: -1.4rem;
  right: 15%;
  transform: rotateZ(-15deg);
  text-shadow: 1.25rem 1.25rem 0 var(--color-accent-1);
}
