.button {
  align-items: center;
  background: transparent;
  border: var(--border-width) solid var(--color-text-main);
  border-radius: var(--border-radius);
  color: var(--color-accent-1);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-mid);
  font-weight: var(--font-weight-bold);
  padding: var(--gap-standard);
  position: relative;
}

.button::after {
  background: transparent;
  bottom: calc(var(--border-width) * -2.5);
  box-shadow: 0.1rem 0.1rem 0 0.1rem var(--color-bg-main);
  content: "";
  display: block;
  height: calc(var(--border-width) * 2);
  left: calc(var(--border-width) * 2);
  position: absolute;
  width: calc(100% - calc(var(--border-width) * 2));
  transition: box-shadow var(--transition-speed) linear, color var(--transition-speed) linear;
  z-index: -1;
}

.button.icon-right .icon {
  margin-left: var(--gap-standard);
}

.button.icon-left .icon {
  margin-right: var(--gap-standard);
}

.button:hover,
.button:focus,
.button:active {
  box-shadow: 0.1rem 0.1rem 0 0.1rem var(--color-accent-1);
  color: var(--color-accent-2);
}
