@import "../globals";

.button {
  align-items: center;
  background: transparent;
  cursor: pointer;
  display: flex;
  font-weight: $font-weight-bold;
  position: relative;
  transition: border $transition-speed linear, color $transition-speed linear;

  @include hover-focus-active {
    box-shadow: 0.1rem 0.1rem 0 0.1rem $color-accent-1;
    color: $color-accent-2;
  }

  span {
    transition: border $transition-speed linear, color $transition-speed linear;
  }

  &--standard {
    border: $border-width solid $color-text-main;
    border-radius: $border-radius;
    font-size: $font-size-mid;
    color: $color-accent-1;
    padding: $gap-standard;
  }

  &--link {
    border-bottom: $border-width solid $color-bg-main;
    font-size: $font-size-standard;
    padding: $gap-small;

    @include hover-focus-active {
      background-color: $color-accent-1;
      box-shadow: none;
      color: $color-bg-main;
    }
  }

  &--tab {
    border: $border-width solid $color-text-main;
    border-radius: $border-radius;
    color: $color-accent-2;
    display: flex;
    font-size: $font-size-mid;
    justify-content: center;
    padding: $gap-standard;
    text-align: center;
    width: calc(34% + 0.1rem);

    span {
      border-bottom: $border-width solid $color-bg-main;
    }

    @include hover-focus-active {
      color: $color-accent-3;
      box-shadow: none !important;

      span {
        border-bottom-color: $color-accent-3;
      }
    }

    &.active {
      cursor: default;
      border-bottom: 0;
      border-radius: $border-radius $border-radius 0 0;
      color: $color-accent-2;
      position: relative;

      span {
        border-bottom-color: $color-accent-2;
      }

      @include hover-focus-active {
        color: $color-accent-2;

        span {
          border-bottom-color: $color-accent-2;
        }
      }
    }
  }

  &::after {
    background: transparent;
    bottom: calc(#{$border-width} * -2.5);
    box-shadow: 0.1rem 0.1rem 0 0.1rem $color-bg-main;
    content: "";
    display: block;
    height: calc(#{$border-width} * 2);
    left: calc(#{$border-width} * 2);
    position: absolute;
    width: calc(100% - #{$border-width * 2});
    transition: background-color $transition-speed linear,
      box-shadow $transition-speed linear, color $transition-speed linear,
      transform $transition-speed linear;
    z-index: -1;
  }

  &.icon-right .icon {
    margin-left: $gap-standard;
  }

  &.icon-left .icon {
    margin-right: $gap-standard;
  }
}
