@import "../globals";

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  svg {
    height: 1em;
    width: 1em;

    &.flip {
      transform: rotate(180deg);
    }
  }
}
