@import "../globals";

.search-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &-search-label {
    display: inline-block;
    align-self: center;
    color: $color-accent-3;
    font-weight: $font-weight-bold;
    margin: $gap-small $gap-standard $gap-small 0;
  }

  &-search-box {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    position: relative;

    input {
      appearance: none;
      border: $border-width solid $color-text-light;
      padding: $gap-mid 3rem $gap-mid $gap-mid;
      border-radius: $border-radius 0 0 $border-radius;
      flex-grow: 1;
      line-height: 1.5;
    }
  }

  &-search,
  &-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gap-mid $gap-standard;
    font-weight: $font-weight-bold;
    color: $color-accent-3;
    font-size: $font-size-mid;

    @include hover-focus-active {
      color: $color-accent-2;
      text-decoration: underline;
    }
  }

  &-clear {
    position: absolute;
    right: 0;
    height: 100%;
  }

  &-search {
    border: $border-width solid $color-text-light;
    border-left: 0;
    border-radius: 0 $border-radius $border-radius 0;
  }
}
