@import "../../globals";

.seed-selection {
  margin: 0;
  padding: 0;

  &--max {
    background: $color-bg-main;
    border-radius: $border-radius-small;
    padding: $gap-mid;
    text-align: center;
  }

  &__type-selector {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $gap-mid;
  }

  &__tab {
    flex-grow: 1;
    margin-left: $gap-mid;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__type-content {
    border-radius: $border-radius-small;
    background: $color-bg-main;
    padding: $gap-standard $gap-standard 0;
  }

  &__separator {
    padding: $gap-mid;
    position: relative;
    width: 100%;
    text-align: center;

    span {
      background: $color-bg-main;
      display: inline-block;
      font-size: $font-size-small;
      padding: 0 $gap-mid;
      color: $color-accent-3;
      position: relative;
      z-index: 2;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: $gap-small solid $color-bg-light;
      left: 0;
      top: 50%;
      z-index: 1;
    }

    &:empty {
      margin: 0.6rem 0;
    }
  }

  &__list-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $gap-standard;

    .seed-selection-list-title {
      margin: 0 $gap-mid $gap-mid 0;
    }

    .genre-filter {
      flex-grow: 0.5;
    }
  }

  &__title-wrap {
    display: flex;
  }

  &__list-title {
    color: $color-accent-3;
    display: block;
    margin: 0 auto $gap-mid 0;
  }

  &__list-contents {
    max-height: 22rem;
    margin: 0;
    overflow-y: auto;
    padding: $gap-small 0 $gap-standard;

    &.genres {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .genre {
    display: block;
    margin: 0 0 $gap-mid 0;
    width: 100%;

    @include breakpoint-xs-up {
      display: inline-block;
      width: calc(33% - #{$gap-mid * (2 / 3)});
      margin: 0 $gap-mid $gap-mid 0;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    &-button {
      align-items: center;
      border: none;
      border-radius: $border-radius;
      display: flex;
      font-size: $font-size-mid;
      justify-content: center;
      min-height: 4.5rem;
      padding: 0 $gap-mid;
      text-align: center;
      text-transform: capitalize;
      width: 100%;

      .icon {
        margin-right: $gap-mid;
        opacity: 0.75;
      }

      span {
        border-bottom: $border-width solid transparent;
      }

      @include hover-focus-active {
        color: $color-accent-3;

        span {
          border-bottom-color: $color-accent-3;
        }
      }

      &[disabled] {
        cursor: default;
        opacity: 0.5;
      }
    }

    &-filter {
      input {
        max-width: calc(100% - 5.05rem);

        @include breakpoint-xs-up {
          max-width: unset;
        }
      }
    }
  }
}
